body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER  */

.headerContainer {
  background-color: black; 
  max-width: 100%; 
  color: goldenrod; 
}

/* HOMEPAGE  */


/* CAROUSEL */
.carouselParentClass {
  background-color: black;  
}

.carouselImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.carouselCaptionCustom {
  color: black; 
}

/* FOOTER  */

.footer-outer-container {
  padding: 5px; 
  background-color: powderblue; 
}

.c {
  background-color: greenyellow
}


